<div>
  <app-service-header></app-service-header>
</div>
<div>
    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <h3>Login</h3>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div id="user-data">
                <div class="form-group">
                  <label for="email">Email Address
                      <span class="required">*</span>
                  </label>
                  <input type="email" placeholder="Enter Email" id="email" class="form-control" formControlName="email">
                  <p class="error-message" *ngIf="loginForm.get('email').touched && loginForm.get('email').errors && loginForm.get('email').errors.required">
                    * Please enter Email Address.
                  </p>
                  <p class="error-message" *ngIf="loginForm.get('email').touched && loginForm.get('email').errors && loginForm.get('email').errors.email">
                    * Please enter a valid Email Address.
                  </p>
                </div>
                <div class="form-group">
                  <label for="password">Password
                      <span class="required">*</span>
                  </label>
                  <input type="password" placeholder="Enter Password" id="password" class="form-control" formControlName="password">
                  <p class="error-message" *ngIf="loginForm.get('password').touched && loginForm.get('password').errors && loginForm.get('password').errors.required">
                    * Please enter Password.
                  </p>
                </div>
                <br>
                <h5>Don't have an account? <a routerLink="/customer-sign-up">Create one now!</a></h5>
              </div>
              <br>
              <div style="text-align: center;">
                <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
              </div>
              <p class="error-message" *ngIf="isLoginError">
                {{errorMessage}}
              </p>
            </form>
          </div>
        </div>
      </div>
</div>
