<div>
  <app-service-header></app-service-header>
</div>
<div>
    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <div>
              <h3>Services</h3>
            </div>
            <form *ngIf="!isUserCreated else successMessage;">
              <div id="user-data">
                <div class="form-group" *ngFor="let service of services; let i = index;">
                  <label for="Name">Name</label>
                  <input class="form-control" [value]="service.name" readonly>
                  <label for="Name">Price</label>
                  <input class="form-control" [value]="service.price" readonly>
                  <button class="btn btn-danger delete-button" (click)="deleteService(i)">Delete</button>
                </div>
                <div class="form-group">
                  <label for="Name">Name</label>
                  <input class="form-control" name="service-name" [(ngModel)]="serviceName" type="text">
                  <label for="Name">Price</label>
                  <input class="form-control" name="service-price" [(ngModel)]="servicePrice" type="number">
                </div>
                <button class="btn btn-primary" [disabled]="!serviceName || !servicePrice" (click)="addService()">Add Service</button>
                <p class="error-message" *ngIf="addServiceError">* Please enter Name and Price.</p>
              </div>
            <button class="btn btn-primary submit-button" (click)="signup()">Submit</button>
            </form>
            <ng-template #successMessage>
              <p class="success-message">Your account has been created successfully!</p>
              <p class="login-link"><a class="link" routerLink="/login-page">Click here to Login</a></p>
            </ng-template>
            
          </div>
        </div>
      </div>
</div>
