.container {
  margin: auto;
  border: 15px transparent;
  padding: 50px;
  background-color: white;
}
.row {
  background-color: white;
}
.btn {
  background-color: #FFB1B1;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: 'Fjord One', serif;
  cursor: pointer;
  vertical-align: middle;
}

.btn:hover {
  background-color: red;
}

h3 {
  font-family: 'Fjord One', serif;
  text-align: center;
}

.phone-wrapper {
  position: relative;
}

.phone-wrapper input {
  padding-left: 5rem;
}

.country-code {
  position: absolute;
  top: 0;
  padding: 0.7rem;
  background: #e0e0e0;
  font-weight: 500;
}

.upload-container {
  justify-content: center;
  margin: 2rem 0 0 0;
}

.upload-container label {
  text-align: center;
}

.upload-container .row {
  justify-content: center;
}

.upload-image .material-icons {
  font-size: 4rem;
  cursor: pointer;
  display: block;
}

.upload-image {
  text-align: center;
  margin-top: 2rem;
}

input[type='file'] {
  visibility: hidden;
}

.image-preview-container {
  justify-content: center;
  margin-bottom: 3rem;
}

.image-preview img {
  max-height: 15rem;
  max-width: 25rem;
}
