.business-card-wrapper {
    background-color: white;
    font-family: 'Fjord One', serif;
    cursor: pointer;
    padding: 2rem;
    margin: 0;
}

.business-card-wrapper img {
    max-width: 100%;
}

.business-card-wrapper .info-wrapper {
}

.business-card-wrapper .info-wrapper h3 {
    margin-top: 5px;
}

.business-card-wrapper .info-wrapper h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.business-card-wrapper .info-wrapper .ratings-reviews-wrapper star-rating {
    display: inline-block;
}

.business-card-wrapper .info-wrapper .ratings-reviews-wrapper .no-of-reviews {
    margin-left: 5px;
    display: inline-block;
}