<div class="{{ wrapperCssClass }}">
    <div class="row">
        <div class="col-sm-4">
            <div class="image-wrapper">
                <img class="img-responsive" [src]="businessCard.portfolio[0]" [alt]="businessCard.name" />
            </div>
        </div>
        <div class="col-sm-5 info-wrapper">
            <div class="listing-content">
                <h3>{{ businessCard.name }}</h3>
                <h5>{{ businessCard.address }}</h5>
                <h5>{{ businessCard.postalCode }}</h5>
                <div class="ratings-reviews-wrapper">
                    <star-rating 
                        [value]="businessCard.avgRating" 
                        checkedcolor="orange" 
                        uncheckedcolor="lightgray" 
                        size="20px"
                        readonly=true>
                    </star-rating>
                    <span class="no-of-reviews">{{ businessCard.noOfReviews }}</span>
                </div>
                <h6>{{ businessCard.description }}</h6>
            </div>
        </div>
    </div>
</div>
