.container {
  margin: auto;
  border: 15px transparent;
  padding: 50px;
  background-color: white;
}
.row {
  background-color: white;
}
.btn {
  background-color: #FFB1B1;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: 'Fjord One', serif;
  cursor: pointer;
  vertical-align: middle;
}

.btn:hover {
  background-color: red;
}

h3 {
  font-family: 'Fjord One', serif;
  text-align: center;
}
