.business-card-detail-wrapper {
    background-color: #F0EEEE;
    font-family: 'Fjord One', serif;
    margin-bottom: 50px;
}

.business-card-detail-wrapper .info-wrapper {
    margin-top: 20px;
}

.business-card-detail-wrapper .info-wrapper h3 {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: bold;
}

.business-card-detail-wrapper .info-wrapper .ratings-reviews-wrapper star-rating {
    display: inline-block;
}

.business-card-detail-wrapper .info-wrapper .ratings-reviews-wrapper .no-of-reviews {
    margin-left: 5px;
    display: inline-block;
}

.business-card-detail-wrapper .info-wrapper .message-btn,
.business-card-detail-wrapper .info-wrapper .other-info .reviews .review-btn {
    background-color: #FFB1B1;
    white-space: nowrap;
    border-radius: .5px;
    font-size: 15px;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    padding: 10px;
}

.business-card-detail-wrapper .info-wrapper .imgs-wrapper {
    margin-top: 5px;
}

.business-card-detail-wrapper .info-wrapper .img-wrapper {
    display: inline-block;
}

.business-card-detail-wrapper .info-wrapper .img-wrapper img {
    max-width: 25%;
    padding: 2px;
}

.business-card-detail-wrapper .info-wrapper .other-info .about-info,
.business-card-detail-wrapper .info-wrapper .other-info .services,
.business-card-detail-wrapper .info-wrapper .other-info .reviews,
.business-card-detail-wrapper .info-wrapper .other-info .address-info {
    margin-top: 20px;
}

.business-card-detail-wrapper .info-wrapper .other-info .services .services-list {
    margin-top: 10px;
}

.business-card-detail-wrapper .info-wrapper .other-info .services .services-list .service {
    padding: 20px;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
}

.business-card-detail-wrapper .info-wrapper .other-info .services .services-list .service:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.business-card-detail-wrapper .info-wrapper .other-info .reviews {
    background-color: white;
}

.business-card-detail-wrapper .info-wrapper .other-info .reviews .r-header,
.business-card-detail-wrapper .info-wrapper .other-info .reviews .review {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
}

.business-card-detail-wrapper .info-wrapper .other-info .reviews .review star-rating,
.business-card-detail-wrapper .info-wrapper .other-info .reviews .review .reviewer {
    display: inline-block;
}

.business-card-detail-wrapper .info-wrapper .other-info .address-info {
    background-color: white;
    padding: 10px;
}

.business-card-detail-wrapper .info-wrapper .other-info .address-info .message-btn {
    padding: 5px;
    font-size: 13px;
}

.opening-hours {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;;
    padding: 0 1rem;
}
