<nav class="navbar navbar-expand">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle">
              <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
          </button>
          <h1 class="header"><a routerLink="/">Corridor</a></h1>
      </div>
      <div class="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" routerLink="/home-business-landing-page">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"> Home Services </button>
            </li>
            <li class="nav-item" routerLink="/customer-login">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"> Login </button>
            </li>
        </ul>
        </div>
  </div>
  <div class="landing-page-welcome">
    
    <h1 class="message">Build your home business with Corri</h1>
    <br>
    <div style="text-align: center; ">
        <button class="btn btn-primary"  routerLink="/basic-info-page" >Sign Up Now</button>
    </div>  
  </div>
</nav>
