h1 {
  font-family: 'Fjord One', serif;
  color: black;
}
a{
  text-decoration: none;
  color: white;
}
navbar-color {
  background: transparent;
}
.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}

@media (min-width: 768px) {
  .navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    padding-top: 20px;
  }
  .navbar-right {
    float: right!important;
    margin-right: -15px;
    margin: 20px;
  }
}

.navbar {
  background-color: #FFB1B1;
}

.btn {
  border: 1px solid black !important;
}

.message {
  text-align: center;
  color: white;
  font-size: 50px;
}
