<nav class="navbar navbar-expand bg-transparent">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <h1 class="header"> Corridor </h1>
        </div>


        <div class="collapse navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"
                    routerLink="./sign-up-page">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Sign Up </button>
                </li>
                <li class="nav-item"
                  routerLink="./login-page">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Login </button>
                </li>
            </ul>

        </div>
        <!-- <ul class="navbar-nav justify-content-end" id="nav-content">
                <li class="nav-item">

                    </li>
                </ul> -->
    </div>
</nav>
