<nav class="navbar navbar-expand bg-transparent">
    <div class="container-fluid">
        <div class="navbar-header">
            <div id="wrapper" [class]="wrapperClasses">
                <div [class]="overlayClasses"></div>

                <nav class="navbar navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                    <ul class="nav sidebar-nav">
                        <li><a routerLink="./sign-up-page">Sign Up</a></li>
                        <li><a routerLink="./login-page">Login</a></li>
                    </ul>
                </nav>

                <button 
                    type="button" 
                    (click)="hamburgerClick()" 
                    [class]="hamburgerClasses">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
            </div>

            <h1 class="header"> Corridor </h1>
        </div>


        <div class="collapse navbar-collapse hidden-xs">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"
                    routerLink="./home-business-landing-page">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Home Services </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-success my-2 my-sm-0"  routerLink="/customer-login" *ngIf="!isUserAuthenticated"> Login </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-success my-2 my-sm-0" *ngIf="isUserAuthenticated" (click)="logout()"> Logout </button>
                </li>
            </ul>

        </div>
        <!-- <ul class="navbar-nav justify-content-end" id="nav-content">
                <li class="nav-item">

                    </li>
                </ul> -->
    </div>
</nav>
