/* You can add global styles to this file, and also import other style files */

/* Fjord font  */
@import url('https://fonts.googleapis.com/css?family=Fjord+One&display=swap'); 

.header {
    color: white; 
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Fjord One', serif;
    padding: 20px; 
}

.big-font-strong {
    color: black; 
    margin-top: 0px;
    font-family: 'Fjord One', serif;
}

.normal-font {
    color: black; 
    font-family: 'Fjord One', serif;
    font-size: .875rem;
    line-height: 18px;
}
.h4 {
    font-family: 'Fjord One', serif ;
}

html {
    background-color: #F0EEEE;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
