
<div>
    <div class="splash">
            <app-header> </app-header>
            <div class="search-container"> 
                <app-search-bar > </app-search-bar>
            </div>
        <!-- <h1 class="header"> Corridor </h1> -->
    </div>
    
    <div class="how-it-works">
        <ul class="items">
            <li>
                <div class="box">
                    <h2 class="big-font-strong">
                        Find
                    </h2>
                    <p class="normal-font"> Find home services to suit your needs</p>
                </div>
            </li>
            <li>
                <div class="box">
                    <h2 class="big-font-strong">
                        Book
                    </h2>

                    <p class="normal-font"> Chat with the providers and book an appointment </p>
                </div>
            </li>
            <li> 
                <div class="box"> 
                    <h2 class="big-font-strong"> 
                        Enjoy 
                    </h2>
                    <p class="normal-font"> Enjoy quality and personal services</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="home-container"> 
        <app-category-list> 
        </app-category-list>

    </div>
    

</div>