.container-fluid {
    padding: 0;
}

@media all and (max-width: 480px) {
    .how-it-works { display: none; }
    .how-it-works ul.items {display: none;}
  }

.splash {
    height:36em; 
    background-size:cover;
    width:auto;
    background-image:url('https://sg2-cdn.pgimgs.com/cms/static/2018/12/hdb-corridor-privacy-propertyguru.original.jpg');
    background-position:50% 50%;
  }

.how-it-works {
    position: relative;
    display: inherit;
    box-shadow: 0 3px 6px #ddd;
    background-color: #fff;
    width: 100%;
}
.how-it-works ul.items {
    height: 110px;
    flex-direction: row;
	list-style: none;
    padding-top: 5px;
    padding: inherit;
    margin: 0;
    width: 100%;
}

.how-it-works ul.items>li {
    box-sizing: border-box;
    height: 100%;
    display: table;
    padding: 1.26582%;    
    margin-left: 0;
    margin-right: 0;
    width: 33.33%;
    float: left;
}

.how-it-works ul.items>li {
    border-bottom: none;
    border-right: solid 1px #eee;
    background-color: #FEFFB7;
}

.how-it-works ul.items>li .box {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.how-it-works ul.items>li p {
    margin: 10px 0;
}

.home-container {
    padding-top: 0%;
    padding-bottom: 2.12766%;
    background-color: #eee;
}
.search-container {
    margin-top: 320px;
}