<div class="row">
    <div class="col-xs-12">
        <a  
            class="list-group-item clearfix" 
            *ngFor="let category of categories"
            routerLink="/hair"> 
            <div> 
                <span> 
                    <img 
                    [src]="category.imagePath" 
                    alt="{{ category.imagePath }}" 
                    class="img-responsive" 
                    style="max-height: 50px;">
                </span>
                <h4 class="big-font-strong" style="padding-top:5px;"> {{ category.name }} </h4> 
            </div>
        </a>

    </div>

</div>