<div>
  <app-service-header></app-service-header>
</div>
<div>
    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <div>
              <h3>Photos</h3>
            </div>
            <form>
              <div id="user-data">
                <div class="form-group">
                  <label for="Name">Portfolio
                      <span class="required">*</span>
                  </label>
                </div>
                <div class="form-group">
                  <label for="address">Environment
                      <span class="required">*</span>
                  </label>
                </div>
              </div>
              <div>
              <button class="btn btn-primary" type="submit" routerLink="/price-service">Next</button>
            </div>
            </form>
          </div>
        </div>
      </div>
</div>
